*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2196f3;
    margin: 0 10px;
}
.body{font-family:Arial;
    background:#eef;
    margin:40px;
}
.payment{
    background: #f8f8f8;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #0d3c64;
}

.form .input{
    padding: 13px 0 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
}



.input {
    padding:10px; 
    width:250px; 
    margin:5px 0; 
    border:2px solid black; 
    border-radius:5px;
}
.input.error {
    border:2px solid red;
}
label{
    display:block;
    margin-top:10px;
    justify-items: center;
}
button{
    padding:10px 20px;
    margin-top:10px;
}
.error-msg{
    color:red;
    font-size:12px;
}
#message {
    margin-top:15px;
    font-weight:bold;
}
.btn{
    width: 100%;
    margin-top: 20px;
    background: #2196f3;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    cursor: pointer;
}



/* 




.card-grp{
    display: flex;
    justify-content: space-between;
}

.card-item{
    width: 48%;
}



.icon-relative{
    position: relative;
}

.icon-relative .fas,
.icon-relative .far{
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
}

